body{
	background: black;
	color: orange;
	font-family: sans-serif;
}
.wish{
	color: #ff7200;
}
h1{
	font-size: 60px;
}
ul{
	text-align: center;
}
ul a{
	text-decoration: none;
	color: orange;
}
ul a:hover{
	text-decoration: none;
	color: #ff7200;
}
ul li:after{
	content: "|";
	padding: 10px;
}
.last:after{
	content: none;
}
nav li{
	font-size: 26px;
	display: inline;
	text-align: center;
}
